In [2]:
# Exploratory Data Analysis
'''Understanding the dataset  to explore how the data is present  in the db and 
    if there is a need of creating some aggregated tables that can help with:-
     
      * Vendor Selection for Profitability
    *  Product Pricing Optimization '''

import pandas as pd
from sqlalchemy import create_engine

In [4]:
connection_string = "mysql+mysqlconnector://root:root@localhost/inventory"
engine = create_engine(connection_string)

In [10]:

 # Checks table present in the db
tables = pd.read_sql_query("SHOW TABLES", engine)

# Display the result
print(tables)

  Tables_in_inventory
0     begin_inventory
1       end_inventory
2     purchase_prices
3           purchases
4               sales
5      vendor_invoice

In [11]:
for table in tables.iloc[:, 0]:
    print('-'*50, f'{table}', '-'*50)
    # added backticks `{table}` to handle table names with spaces or reserved words
    count_df = pd.read_sql(f"SELECT count(*) as count FROM `{table}`", engine)
        # Print the result
    print('Count of records:', count_df['count'].values[0])
    print(pd.read_sql(f"select * from {table} limit 5", engine))

    purchases = pd.read_sql_query("select * from purchases where VendorNumber = 4466", engine)
    print(purchases)

    new_purchase = pd.read_sql_query.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()
    print(new_purchase)

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2024-01-01
1  750mL       7  10.99  2024-01-01
2  750mL       6  36.99  2024-01-01
3  750mL       3  38.99  2024-01-01
4  750mL       6  34.99  2024-01-01
              InventoryId  Store  Brand                   Description   Size  \
0        30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
1       34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2     1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
3       38_GOULCREST_5215     38   5215  TGI Fridays Long Island Iced  1.75L
4     59_CLAETHORPES_5215     59   5215  TGI Fridays Long Island Iced  1.75L
...                   ...    ...    ...                           ...    ...
2187     81_PEMBROKE_5215     81   5215  TGI Fridays Long Island Iced  1.75L
2188   62_KILMARNOCK_5255     62   5255  TGI Fridays Ultimte Mudslide  1.75L
2189    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2190     6_GOULCREST_5215      6   5215  TGI Fridays Long Island Iced  1.75L
2191    35_HALIVAARA_5255     35   5255  TGI Fridays Ultimte Mudslide  1.75L

      VendorNumber                   VendorName  PONumber      PODate  \
0             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
1             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
2             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
3             4466  AMERICAN VINTAGE BEVERAGE        8207  2023-12-27
4             4466  AMERICAN VINTAGE BEVERAGE        8207  2023-12-27
...            ...                          ...       ...         ...
2187          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2188          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2189          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2190          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2191          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20

     ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0       2024-01-01  2024-01-07  2024-02-21           9.35         4    37.40
1       2024-01-02  2024-01-07  2024-02-21           9.41         5    47.05
2       2024-01-01  2024-01-07  2024-02-21           9.35         6    56.10
3       2024-01-07  2024-01-19  2024-02-26           9.41         6    56.46
4       2024-01-05  2024-01-19  2024-02-26           9.41         6    56.46
...            ...         ...         ...            ...       ...      ...
2187    2024-12-29  2025-01-04  2025-02-10           9.41         6    56.46
2188    2024-12-28  2025-01-04  2025-02-10           9.35         5    46.75
2189    2024-12-28  2025-01-04  2025-02-10           9.41         5    47.05
2190    2024-12-31  2025-01-04  2025-02-10           9.41         6    56.46
2191    2024-12-27  2025-01-04  2025-02-10           9.35         5    46.75

      Classification
0                  1
1                  1
2                  1
3                  1
4                  1
...              ...
2187               1
2188               1
2189               1
2190               1
2191               1

[2192 rows x 16 columns]

AttributeError: 'function' object has no attribute 'groupby'

In [3]:
df_column = pd.read_sql_query("SELECT * FROM vendor_invoice LIMIT 0", engine)
print("Vendor-Invoice Column:-",df_column.columns.to_list())

Vendor-Invoice Column:- ['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate', 'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval']

In [4]:
freight_summary = pd.read_sql_query("""select VendorNumber, SUM(Freight) as FreightCost 
                                    From vendor_invoice Group BY VendorNumber""", engine)

In [5]:
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [17]:
pd.read_sql_query("""
    SELECT 
        p_agg.VendorNumber,
        p_agg.VendorName,
        p_agg.Brand,
        p_agg.PurchasePrice,
        pp.Volume,
        pp.Price as ActualPrice,
        p_agg.TotalPurchaseQuantity,
        p_agg.TotalPurchaseDollars
    FROM (
        -- 1. Aggregate purchases first (much smaller result)
        SELECT 
            VendorNumber, 
            VendorName, 
            Brand, 
            PurchasePrice,
            SUM(Quantity) as TotalPurchaseQuantity,
            SUM(Dollars) as TotalPurchaseDollars
        FROM purchases
        GROUP BY VendorNumber, VendorName, Brand, PurchasePrice
    ) p_agg
    -- 2. Then join to prices
    JOIN purchase_prices pp 
        ON p_agg.Brand = pp.Brand
    ORDER BY p_agg.TotalPurchaseDollars DESC
""", engine)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080.0,3811251.60
1,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038.0,3804041.22
2,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407.0,3418303.68
3,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682.0,3261197.94
4,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109.0,3023206.01
...,...,...,...,...,...,...,...,...
10688,8004,SAZERAC CO INC,5683,0.39,50,0.49,6.0,2.34
10689,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2.0,1.48
10690,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1.0,1.47
10691,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1.0,0.71
10692,2561,EDRINGTON AMERICAS,2166,0.00,750,0.00,2015.0,0.00

In [ ]:
pd.read_sql_query("""
    SELECT 
        VendorNo,
        Brand,
        SUM(SalesDollars) as TotalSalesDollars,
        SUM(SalesPrice) as TotalSalesPrice,
        SUM(SalesQuantity) as TotalSalesQuantity,
        SUM(ExciseTax) as TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
    ORDER BY TotalSalesDollars
""", engine)

Empty DataFrame
Columns: [VendorNo, Brand, TotalSalesDollars, TotalSalesPrice, TotalSalesQuantity, TotalExciseTax]
Index: []

In [5]:
vendor_sales_summary = pd.read_sql_query("""
    WITH FreightSummary AS (
        SELECT
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM vendor_invoice
        GROUP BY VendorNumber
    ),
    
    PurchaseSummary AS (
        SELECT 
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,          -- Select p.PurchasePrice here
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Dollars) AS TotalPurchaseDollars
        FROM purchases p 
        JOIN purchase_prices pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY 
            p.VendorNumber, 
            p.VendorName, 
            p.Brand, 
            p.Description, 
            p.PurchasePrice,          -- MUST match the SELECT column (p.PurchasePrice, not pp.PurchasePrice)
            pp.Price,
            pp.Volume
    ),

    SalesSummary AS (
        SELECT 
            VendorNo,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM sales
        GROUP BY VendorNo, Brand
    )

    SELECT 
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseDollars,
        COALESCE(ss.TotalSalesQuantity, 0) as TotalSalesQuantity,
        COALESCE(ss.TotalSalesDollars, 0) as TotalSalesDollars,
        COALESCE(ss.TotalSalesPrice, 0) as TotalSalesPrice,
        COALESCE(ss.TotalExciseTax, 0) as TotalExciseTax,
        COALESCE(fs.FreightCost, 0) as FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNo 
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs 
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseDollars DESC
""", engine)

In [6]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080.0,3811251.60,0.0,0.0,0.0,0.0,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038.0,3804041.22,0.0,0.0,0.0,0.0,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407.0,3418303.68,0.0,0.0,0.0,0.0,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682.0,3261197.94,0.0,0.0,0.0,0.0,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109.0,3023206.01,0.0,0.0,0.0,0.0,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2.0,2.64,0.0,0.0,0.0,0.0,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6.0,2.34,0.0,0.0,0.0,0.0,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2.0,1.48,0.0,0.0,0.0,0.0,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1.0,1.47,0.0,0.0,0.0,0.0,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1.0,0.71,0.0,0.0,0.0,0.0,38994.78

In [ ]:
vendor_sales_summary['VendorName'].unique() # print unique names

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

In [16]:
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      shape=(9651,), dtype=object)

In [ ]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64') # convert datatype to float

In [ ]:
vendor_sales_summary.fillna(0,inplace=True) # missing value should be if empty

In [19]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
dtype: int64

In [ ]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip() # remove whitespace from vendor name

In [12]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [20]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [21]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080.0,3811251.60,0.0,0.0,0.0,0.0,68601.68,-3811251.60
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038.0,3804041.22,0.0,0.0,0.0,0.0,144929.24,-3804041.22
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407.0,3418303.68,0.0,0.0,0.0,0.0,123780.22,-3418303.68
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682.0,3261197.94,0.0,0.0,0.0,0.0,257032.07,-3261197.94
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109.0,3023206.01,0.0,0.0,0.0,0.0,257032.07,-3023206.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2.0,2.64,0.0,0.0,0.0,0.0,27100.41,-2.64
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6.0,2.34,0.0,0.0,0.0,0.0,50293.62,-2.34
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2.0,1.48,0.0,0.0,0.0,0.0,14069.87,-1.48
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1.0,1.47,0.0,0.0,0.0,0.0,257032.07,-1.47
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1.0,0.71,0.0,0.0,0.0,0.0,38994.78,-0.71

In [23]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100

In [24]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']

In [27]:
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

In [29]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [32]:
# Create table in db to store this all filter data
connection = engine.raw_connection()
cursor = connection.cursor()

In [33]:
cursor.execute("""CREATE TABLE IF NOT EXISTS vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume VARCHAR(50),             
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

In [34]:
pd.read_sql_query("select * from vendor_sales_summary", engine)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseRatio]
Index: []

In [ ]:
# 1. Replace infinite values with NaN (or 0)
vendor_sales_summary = vendor_sales_summary.replace([np.inf, -np.inf], np.nan)

In [ ]:
# 2. Fill NaN values with 0 (optional, but safer for SQL DECIMAL columns)
vendor_sales_summary = vendor_sales_summary.fillna(0)

In [ ]:
# 3. Now save to SQL
vendor_sales_summary.to_sql('vendor_sales_summary', engine, if_exists='replace', index=False)

10692